body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #d30f08;
}
.center{
    width: 75%;
    margin: 0px auto;
}
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}
#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 10px;
    animation: latir infinite 3s linear;
}
@keyframes latir {
   0% {
       transform: scale(1,1);
   }
   50%{
       transform: scale(1.02, 1.02);
   }
   55%{
       transform: scale(0.95, 0.95);
   }
   100% {
       transform: scale(1,1);
   }
}
#brand{
    display: block;
    margin: 0px;
    float: left;
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}
#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 5px;
    margin-right: 5px;
}
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover, .active{
    color: #d30f08 !important;
}
.clearfix{
    clear: both;
    float: none;
}
#slider{
    width: 100%;
    background: #61dafb;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px #444;
    background: #ff1a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff1a00 43%, #ff1a00 43%, #ff1a00 43%, #ff1a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff1a00 43%,#ff1a00 43%,#ff1a00 43%,#ff1a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff1a00 43%,#ff1a00 43%,#ff1a00 43%,#ff1a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */

}
#slider h1{
    margin: 0px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}
.btn-white{
    display: block;
    background: white;
    color: black;
    padding: 10px;
    width: 100px;
    height: 20px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 20px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}
.btn-white:hover{
    background-color: #444;
    color: white;
}
#slider.slider-small{
    height: 150px;

}
#slider.slider-small h1{
    margin: 0px;
    padding: 0px;
    padding-top: 53px;
    text-align: center;
}
#content{
    width: 70%;
    float: left;
    min-height: 450px;
    margin-right: 20px;
}
#sidebar{
    width: 25%;
    float: left;
}
.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}
.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}
.sidebar-item h3{
    font-size: 18px;
    margin: 0px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.btn{
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms;
    border: none;
    cursor: pointer;
}
.btn-success{
    background-color: rgb(14, 194, 95);
}
.btn-success:hover{
    background-color: black;
}
.mid-form{
    width: 50%;
    margin: 0px auto;
}
.mid-form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 17px;
}
input[type="text"], textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}
input[type="text"]:focus, textarea:focus{
    box-shadow: 0px 0px 5px #666 inset;
}
textarea{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}
.radiobuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
#footer{
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #444;
}
.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}
.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}
.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}
.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}
.article-item .date{
    display: block;
    width: 100%;
    color: rgb(141, 138, 138);
}
.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}
.article-item a:hover{
    text-decoration: underline;
}
.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;
}
.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}
.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}
/* RESPONSIVE */
@media(max-width: 1488px){
    .center{
        width: 85%;
    }
}
@media(max-width: 1314px){
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
    .mid-form{
        height: 70%;
    }
}
@media(max-width: 881px){
    #logo{
        width: 265px;
    }
    #menu{
        width: auto;
    }
}
@media(max-width: 812px){
    #logo{
        float: none;
        /* width: 240px; */
        margin: 0 auto;
        margin-top: 20px;
    }
    #menu,
    #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
}
@media(max-width: 497px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }
    #menu,
    #menu ul{
        line-height: 50px;
    }
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider{
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white{
        margin-top: 20px;
    }
    #slider .slider-small{
        height: 100px;
    }
    #slider .slider-small h1{
        padding-top: 35px;
    }
}